<%= form_tag new_user_activity_path(current_user), :method => 'get', :id => "activities_search", remote: true do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<div class="activities_search">

</div>
